<a href="https://colab.research.google.com/github/5791nbm/python_learning/blob/main/02%20Type%20Casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python data types:


*   Number
*   Boolean
*   String
*   List
*   Tuple
*   Dictionary

Lists, tuples, and dictionaries are data structures and can effectively store data

In [ ]:
#Number value
'''
You do not need to declare the type of the variable in python before using it.
Numbers can be integers, floats, or complex numbers.
'''

#basic
number1 = 5. #float
number2 = 10 #integer
result = number1 + number2
print(number1)
print(type(number1))
print(number2)
print(type(number2))
print(result)
print(type(result))
print()

#respective
number1, number2 = 3, 4
result = number1 + number2
print(number1, number2, result)
print(type(number1), type(number2), type(result))
print()

'''
Complex number literals in Python mimic the mathematical notation, which is also known as the standard form,
the algebraic form, or sometimes the canonical form, of a complex number. In Python, you can use either
lowercase j or uppercase J in those literals.

If you learned about complex numbers in math class, you might have seen them expressed using an i instead of a j.
If youâ€™re curious about why Python uses j instead of i, then you can expand the collapsible section below to learn more.
https://realpython.com/python-complex-numbers/
'''

#Complex numbers
z = 2 + 3j
print(z)
print(z.real)
print(z.imag)
print(type(z))

5.0
<class 'float'>
10
<class 'int'>
15.0
<class 'float'>

3 4 7
<class 'int'> <class 'int'> <class 'int'>

(2+3j)
2.0
3.0
<class 'complex'>

In [ ]:
#Binary, Boolean value

Bool1 = True
Bool2 = False
print(Bool1)
print(type(Bool1))
print(Bool2)
print(type(Bool2))

print()
resultA = 3 > 1
print(resultA)
print(type(resultA))
resultB = 3 < 1
print(resultB)
print(type(resultB))

True
<class 'bool'>
False
<class 'bool'>

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
#String values, one-dimensional arrays, there are no character in python, just strings with a single letter.

str1 = 'Hello World!'
str2 = "Good-bye"
str3 = 'a'
print(str1)
print(str2)
print(type(str1))
print(type(str2))
print()
print(str3)
print(type(str3))
print(str1 + ' ' + str3 + ' ' + str2)

#Print out letters in a string
print(str1[0])
print(str2[-3])
print(str1[3:7])

print()
name = 'Matthew'
age = 49
print('My name is ' + name + ' and I am ' + str(age) + ' years old.')
#Use format to insert numbers into a string.
print('My name is {} and I am {} years old.'.format(name, age))

Hello World!
Good-bye
<class 'str'>
<class 'str'>

a
<class 'str'>
Hello World! a Good-bye
H
b
lo W

My name is Matthew and I am 49 years old.
My name is Matthew and I am 49 years old.

In [8]:
#Advanced string slicing, intergers as strings

s = '0123456789'

#array indecies - random indexes

print(s[0])
print(s[2:7]) #substring, the first index is included, but the last is excluded
print(s[:6]) #python will start with index zero
print(s[3:]) #python will include all remaining charaters, including the first index
print(s[:]) #returns the entire string

#We can also set the step size
print(s[1:8:2]) #returns every other string charater, left to right
print(s[8:1:-2]) #returns every other string charater, right to left
print(s[::-1]) #reverse a string

0
23456
012345
3456789
0123456789
1357
8642
9876543210

In [29]:
#Type casting, pytohn is an OOP language and defines the data typses with classes
print("Assign a float value as int type: a = int(23.5), print type and value.")
a = int(23.5)
print(type(a))
print(a)
print()

print("Print float(a), but since a assigned int type the .5 is lost: 'print(float(a)'")
print(float(a)) #loss of .5
print()

print("Assign a string value with int type: b = int('23.9'). Trying to assign int type causes an error.")
try:
    b = int('23.9')
except:
    print("Error: Cannot cast this string to int, b = int('23.9'), but can cast as float")
    b = float('23.9')
    print(type(b))
    print(b)
finally:
    print('End')
    print()

#float function
print("Assign c a float type: c = float(10). This also works c = float('10')")
c = float(10)
print(type(c))
print(c)
print()

#change numbers into strings
print("Cast the value 10.5 to a string value: s = str(10.5).")
s = str(10.5)
print(type(s))
print(s)

Assign a float value as int type: a = int(23.5), print type and value.
<class 'int'>
23

Print float(a), but since a assigned int type the .5 is lost: 'print(float(a)'
23.0

Assign a string value with int type: b = int('23.9'). Trying to assign int type causes an error.
Error: Cannot cast this string to int, b = int('23.9'), but can cast as float
<class 'float'>
23.9
End

Assign c a float type: c = float(10). This also works c = float('10')
<class 'float'>
10.0

Cast the value 10.5 to a string value: s = str(10.5).
<class 'str'>
10.5

In [44]:
#Operators
# arithmetic: +, -, *, /
a = 5
b = 3
print(a + b) # addition
print(a - b) # subtraction
print(a * b) # multiplecation
print(a ** b) # exponentiation
print(a / b) #division
print(a // b) # integer division, truncates, no remainder
print(a % b) # modulus, returns the remainder
print(round(a / b, 1)) # round to 2 decimal
print()

#comparative operators
print(a == b) #equal to
print(a != b) #not equal to
print(a > b) #greater than
print(a < b) #less than
print(a >= b) #greater than or equal to
print(a <= b) #less than or equal to
print()

#assignment operatots
e = 10
print(e)
e += 5 #e = e + 5
print(e)
e -= 3 #e = e - 5
print(e)
e *= 2 #e = e * 2
print(e)
e /= 2 #e = e / 2
print(e)
e **= 2 #e = e ** 2
print(e)

8
2
15
125
1.6666666666666667
1
2
1.7

False
True
True
False
True
False

10
15
12
24
12.0
144.0