<a href="https://colab.research.google.com/github/5791nbm/python_learning/blob/main/09_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is a list?
[Python documentation](https://docs.python.org/3/tutorial/datastructures.html#)

In [22]:
#ususally this is called an array, but in python this is a list
#If you want an array you can use NumPy arrays
my_list = [1,5,10,4]
other_list = list((1,3,'My name is bob',6,2.5))

In [16]:
print(my_list[2])
print(my_list)
print(other_list)

10
[1, 5, 10, 4]
[1, 3, 'My name is bob', 6, 2.5]

In [17]:
for item in my_list:
    print(item)

for item in other_list:
    print(item)

1
5
10
4
1
3
My name is bob
6
2.5

In [18]:
print(len(my_list))
print(type(my_list))

4
<class 'list'>

In [23]:
my_list[1] = "Hello"
print(my_list)

[1, 'Hello', 10, 4]

In [24]:
#del operator
del my_list[1]
print(my_list)

[1, 10, 4]

In [32]:
#append items to list
my_list.append('A new list item')
print(my_list)

[1, 10, 4, 'A new list item', 'A new list item']

In [34]:
del my_list[-1]
print(my_list)

[1, 10, 4]

In [37]:
print(other_list[2:4])

['My name is bob', 6]

In [38]:
result = my_list + other_list
print(result)

[1, 10, 4, 1, 3, 'My name is bob', 6, 2.5]

In [39]:
my_list.extend(other_list)
print(my_list)

[1, 10, 4, 1, 3, 'My name is bob', 6, 2.5]

In [40]:
print(my_list)

[1, 10, 4, 1, 3, 'My name is bob', 6, 2.5]

In [42]:
my_list.remove(2.5)
print(my_list)

[1, 10, 4, 1, 3, 'My name is bob', 6]